/* footer.css */

.footer {
  background-color: #f3dec3;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 70px;
}

.footer-col {
  flex: 1 1 30%;
  max-width: 30%;
}

.footer-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-heading span {
  color: #e12626;
}

.footer-description {
  color: #555555;
  margin-bottom: 20px;
}

.footer-icons {
  display: flex;
}

.footer-icon {
  color: #555555;
  font-size: 20px;
  margin-right: 10px;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #555555;
  text-decoration: none;
}

.footer-contact {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-contact li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #555555;
}

.footer-contact i {
  margin-right: 10px;
}

.footer-bottom {
  background-color: #131313;
  /* padding: 10px; */
  padding-bottom: 4px;
  text-align: center;
}

.footer-text {
  color: #f8f3f3;
}

/* Additional styling can be added as needed */

